.DropDownContainer {
  padding: 0 10;
  margin: 0 25%;
}

.ButtonGroups {
  margin-top: 2%;
}

.ButtonGroups button:first-child {
  float: left;
}

.ButtonGroups button:last-child {
  float: right;
}
